.flex-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.dialog-image {
    max-width: 20vw;
    object-fit: cover;
}

.dialog-desc {
    padding: 2vw;
    min-width: 32vw;
    margin: auto;
}
