.card-image {
  max-height: 10rem;
  object-fit: cover;
}
.card {
  min-height: 20vw;
  width: 15vw;
  background-color: #7c747e;
}
.card-header {
  min-height: 4vw;
}
.card-content {
  min-height: 2vw;
}
